body{
	background-color:#FFFAFA ;
	width: 1080px;
	margin: auto;
}
nav{
	width: 100%;
	background-color:#DCDCDC;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 13px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
main{
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;	
}
.liennav{
	text-decoration: none;
	color: black;
	font-size: 15px
}
.sepnav{
	padding-right: 10px;
	border-right: solid black 2px;
}

aside{

}
footer{

}
.imagesnav{
	width: 20px;
	height: auto;
}
}
.liencache {
	text-decoration: none;
}
.liencache:hover /* Apparence au survol des liens */{
 text-decoration: underline;
 color: blue;
}

#center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.imagehomep{
	width: 300px;
	height: auto;
	border-radius: 3%;
}
.homearticle{
	
	border-radius: 3%;
	margin:auto;
}
.texthome{
	font-size:17px;
	display: block;
	width: 500px;
}
#contactdiv{
	display: inline-block;
	width: 300px;
	text-align: center;
}
#ppcontact{
	width: 200px;
	height: auto;
}
#test{
	margin-left: auto;
	margin-right: auto;
}
footer{
	text-align: center;
	font-size: 16px;
}
#contacttelephone{
	display: inline-block;
	margin-left: 250px;
}
#contactmail{
	display: inline-block;
	float: right;
	margin-right: 250px;
}

#articleavin{
	width: 700px;
	display: inline-block;
}
#imagesarticles{
	width: 200px;
	height:auto;
}
#listeautresarticles{
	display: inline-block;
	float: right; 
	margin-right: 10px;
	width: 200px;
}